$clr-yellow: #FDA214;
$clr-very-light-gray: #F2F2F2;
$clr-light-gray: #BCCED9;
$clr-mid-gray: #304859;
$clr-dark-gray: #152938;
$clr-light-blue: #7191A5;
$clr-mid-blue: #6395B8;
$clr-pale: #FCFCFC;
$clr-modal-background: #00000075;
$clr-btn-secondary: #DFE7EC;