@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");

h1 {
  font-size: 1.5rem;
  @include mq(tablet) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  @include mq(tablet) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 0.9375rem;
  @include mq(tablet) {
    font-size: 1.25rem;
  }
}

.six-number {
  font-size: 2.75rem;
}

.four-number {
  font-size: 3.5rem;
}
